<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/consigna.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Consigna</title>
</head>
<body>
    <div class="contenedor-01">
        <h2>Soy el contenedor-01</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore illum vel non exercitationem quidem commodi facilis sint, modi reprehenderit atque minima recusandae, ipsam optio quis sunt earum obcaecati voluptatem magni!   </p>
    </div>
    <div class="contenedor-02">
        <h2>Soy el contenedor-02</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore illum vel non exercitationem quidem commodi facilis sint, modi reprehenderit atque minima recusandae, ipsam optio quis sunt earum obcaecati voluptatem magni!   </p>
    </div>
</body>
</html>