<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Completando el video</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    
</head>
<body>
    <h1>Soy un h1</h1>
    <img src="/images/ABBEY_ROAD.jpg" alt="Abbey"><strong>Esto es un texto en negrita</strong>
    <h2>Soy un h2</h2>
    <h3>Soy un h3</h3>
    <h4>Soy un h4</h4>
    <h5>Soy un h5</h5>
    <h6>Soy un h6</h6>
    <p>Lorem ipsum, dolor sit <strong>Esto es un texto en negrita</strong> amet consectetur adipisicing elit. Error totam magnam amet. Sunt suscipit quaerat odit esse aspernatur doloribus ea! Dolor voluptate sit incidunt eum. Maxime rerum illum modi aliquid.</p>
    <p class="parrafoDestacado">Lorem ipsum dolor <em>soy un texto en cursiva</em> sit amet consectetur adipisicing elit. Nisi, deleniti odio exercitationem ratione commodi quod eaque, magni dolorum voluptas ea saepe sequi vel dolores ducimus vero similique aspernatur sit porro?</p>

    <ol>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ol>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>   
    <a href="http://www.google.com.ar">Ir a Google</a>
</body>
</html>