<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/viewport.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Viewport</title>
</head>
<body>
    <h1>viewport</h1>
    <p class="oculto">esto esta oculto</p>
<article class="contenedor01">
    <h2>Lorem ipsum dolor sit amet consectetur</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni blanditiis quaerat, sunt cum veritatis excepturi ipsam, saepe facilis doloribus exercitationem dolor sit assumenda quae illo porro. Libero eaque consequatur quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus suscipit quod facere? Animi, maxime. Numquam, qui labore? Repellendus, quisquam sequi. Laudantium iste hic neque placeat voluptas itaque, eaque sed ex.</p>
</article>
</body>
</html>