body {
    background-color: salmon;
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 50px; 
    font-weight: 300;
}

p strong{
    background-color: yellow;
    color: white;
    font-family: italic;
}
strong  {
    color: green;

}
p {
    font-size: 17px;
    line-height: 24px;
    padding: 15px;
    border-style: double;
    border-color: aqua;
 
}
.parrafoDestacado {
    color: blue;
    font-size: 30px;
    line-height: 38px;
}

.parrafoDestacado em {
    color: red;
    text-transform: uppercase;
    font-family: tahoma;
}